@import url('https://fonts.googleapis.com/css2? family= Open+Sans:ital,wght@0,300;0,400;1,700 & display=swap');
</style>

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
html, body {
    background-color:#ddd ;
}

header { 
    background-color: violet ;
    color: white;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between ;
}
a, a:hover {
    text-decoration: none;
    color: unset;
}